Package: kali-db
Version: 1.0-1
Architecture: all
Maintainer: root <root@localhost.localdomain>
Installed-Size: 13
Section: unknown
Priority: optional
Homepage: <insert the upstream URL, if relevant>
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
